/* ==========================================================================
   Author's custom styles
   ========================================================================== */

textarea {
    width: 100%;
}

.brand{
    margin-top: 50px;
}

.tool-name{
    font-size: 26px;
}

.input-label{
    font-size: 18px;
}